<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>山竹之旅</title>
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <script src="{:config('static_base_url')}/javascripts/require.js"></script>
    <link href="{:config('static_base_url')}/stylesheets/signon.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <div class="logo"></div>
    <div class="control-wrap sui-border-b">
        <input type="text" id="mobile" placeholder="手机号" maxlength="11"/>
    </div>
    <div class="control-wrap sui-border-b">
        <input type="text" id="invite_mobile" placeholder="邀请人手机号" maxlength="11"/>
    </div>
    <div class="control-wrap captcha-wrap sui-border-b">
        <input id="verify_code" type="text" placeholder="图片验证码" maxlength="4"/>
        <img data-tmp="{:captcha_src()}" id="reloadVerifyCode" src="{:captcha_src()}" class="img-captcha"/>
    </div>
    <div class="control-wrap captcha-wrap sui-border-b">
        <input id="sms_code" type="text" placeholder="短信验证码" maxlength="4"/>
        <button id="send" class="sand-btn">获取验证码</button>
    </div>
    <div class="control-wrap sui-border-b">
        <input id="pwd" type="password" placeholder="设置登录密码" maxlength="32"/>
    </div>
    <div class="control-tip">
        密码必须大于等于8位, 数字+英文混合.
    </div>
    <div class="btn-wrap">
        <button id="btn_submit">开启山竹之旅</button>
    </div>
    <div class="protocol">
        注册即代表阅读并同意<span class="link" data-href="#">《用户服务协议》</span><br/>
        <span class="link" data-href="#">《用户隐私政策》</span>
    </div>
</div>

<script>
    $(function () {
        var reloadVerifyCode = function () {
            var verifyimg = $("#reloadVerifyCode").data("tmp");
            $("#reloadVerifyCode").attr("src", verifyimg + '?random=' + Math.random());
        };
        $("#reloadVerifyCode").click(reloadVerifyCode);

        //获取验证码
        $('#send').on('click', function () {
            var self = this;
            //$.showLoading('获取验证码');
            // 模拟异步请求，实际使用删除setTimeout函数
            var mobile = $.trim($("#mobile").val());
            var verify_code = $.trim($("#verify_code").val());
            if (mobile.length <= 0) {
                $.alert('手机号不能为空');
                return false;
            }
            if (mobile.length != 11) {
                $.alert('请输入正确的11位手机号码');
                return false;
            }
            if (verify_code.length <= 0 || verify_code.length != 4) {
                $.alert('请输入4位数字的图片验证码');
                return false;
            }
            var data = {mobile:mobile,verify_code:verify_code};
            $.showLoading('获取验证码');
            $.post('{:url("Index/getSmsCode")}', data, function (res) {
                $.hideLoading();
                if(res.code==0){
                    countDown(self, 60);
                } else {
                    $.alert(res.message);
                    reloadVerifyCode();
                }
            }, 'json');


        });
    });

    // 倒计时
    function countDown(ele, num) {
        var def = $(ele).text();
        $(ele).prop('disabled', true).html(num + '秒后继续...');
        var timer = setInterval(function () {
            --num;
            if (num > 0) {
                $(ele).html((num > 9 ? num : '0' + num) + '秒后继续...');
            } else {
                clearInterval(timer);
                $(ele).prop('disabled', false).html(def);
            }
        }, 1000);
    }

    $("#btn_submit").click(function () {
        var mobile = $.trim($("#mobile").val());
        var invite_mobile = $.trim($("#invite_mobile").val());
        var sms_code = $.trim($("#sms_code").val());
        var pwd = $.trim($("#pwd").val());
        if (mobile.length <= 0) {
            $.alert('手机号不能为空');
            return false;
        }
        if (mobile.length != 11) {
            $.alert('请输入正确的11位手机号码');
            return false;
        }
        if (invite_mobile.length > 0 && invite_mobile.length != 11) {
            $.alert('邀请人手机号码正确');
            return false;
        }
        if (sms_code.length <= 0 || sms_code.length != 4) {
            $.alert('请输入4位数字的短信验证码');
            return false;
        }
        if (pwd.length < 8) {
            $.alert('密码必须大于等于8位, 数字+英文混合');
            return false;
        }
        var data = {mobile:mobile, invite_mobile:invite_mobile,sms_code:sms_code,pwd:pwd};
        $.showLoading('玩命加载中...');
        $.post('{:url("Index/reg")}', data, function (res) {
            $.hideLoading();
            if(res.code==0){
                window.location.href = res.data.redirect_url;
            } else {
                $.alert(res.message);
            }
        }, 'json');
    });
</script>
</body>
</html>
