<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>山竹之旅</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <script src="{:config('static_base_url')}/javascripts/require.js"></script>
    <link href="{:config('static_base_url')}/stylesheets/results.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="header-bar">
        <div data-href="{:url('Index/index')}" class="back">
            返回
        </div>
    </div>
    <div class="panel">
        <div class="icon"></div>
    </div>
    <div class="result-text">恭喜您注册成功</div>
    <div class="info-wrap">
        <p>
            <span class="info1">系统内测中</span>
        </p>
        <p>
            <span class="info2">敬请期待...</span>
        </p>
    </div>
</body>
</html>
