@charset "utf-8";

/*================================
            通用样式
==================================*/
*{word-wrap:break-word;outline:0;-webkit-font-smoothing:antialiased}
body{background:white;}
html{-webkit-text-size-adjust:none}
body,button,input,select,td,textarea{color:#333;font-size:12px;font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif}
body,dd,dl,dt,fieldset,form,li,ol,ul{margin:0;padding:0}
li,ol,ul{list-style-image:none;list-style-type:none}
a{color:#1f6ca7;text-decoration:none;blr:expression(this.onFocus=this.blur())}
a:hover{color:#CD0200;text-decoration:underline}
a img{border:none}
cite,em,th{font-style:normal;font-weight:400}
table{border-collapse:collapse}
th{text-align:left}
button,input,select,textarea{outline:0}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.nobg{background-color:transparent!important;background-image:none!important}
.nopd{padding:0!important}
.nobd{border-width:0!important;border-color:transparent!important;border-style:none!important;border-radius:0!important}
.nobs,.nobs:hover{box-shadow:none!important}
article,aside,dialog,figure,footer,header,menu,nav,section{display:block}
.clear{clear:both}
.muted{color:#999}
.text-warning{color:#d8984c}
.text-error{color:#d74641}
.text-info{color:#3079ed}
.text-success{color:#5cb147}
.text-notice{color:#CCCCCC;}
h1,h2,h3,h4,h5,h6{margin:10px 0;padding:0;font-family:inherit;font-weight:700;line-height:20px;color:inherit;text-rendering:optimizelegibility}
h1,h2,h3{line-height:40px}
h1{font-size:38.5px}
h2{font-size:31.5px}
h3{font-size:24.5px}
h4{font-size:17.5px}
h5{font-size:14px}
h6{font-size:11.9px}
.container{width:1190px;margin:0 auto}

/*================================
            表单样式
==================================*/
.table-form{font-size:14px;width:100%;max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;border-collapse:collapse}
.table-form th{padding:8px;padding-bottom:4px;min-width:50px;line-height:20px;text-align:right;vertical-align:middle;border-top:1px solid #eee}
.table-form td{padding:8px;padding-bottom:4px;line-height:20px;text-align:left;vertical-align:middle;border-top:1px solid #eee}
.table-form tr:first-child td,.table-form tr:first-child th{border-top:0}
.form-btn-bar{border-top:1px solid #eee;padding:10px 10px 4px;text-align:right}
.form-btn-bar .btn{padding:8px 25px}

.search-bar input,.search-bar select,.search-bar .ui-selectmenu-button.ui-button{margin:0 5px;}
.search-bar .btn{padding:4px 15px;}
.input-mini{width:60px}
.input-small{width:90px}
.input-medium{width:150px}
.input-large{width:210px}
.input-xlarge{width:270px}
.input-xxlarge{width:530px}