@charset "utf-8";

/*================================
            浏览器升级提示
==================================*/
a{color:#009cd6;text-decoration:none}
a:hover{color:#ff0000;text-decoration:none}
.msg-content{padding:85px 150px 0;font-size:16px}
.browser-list{text-align:center;padding:40px 0}
.browser-item{margin:0 15px;display:inline-block}
.icon-browser{width:110px;height:110px;display:inline-block;vertical-align:middle;background:url(../images/icon_update.png) no-repeat}
.ie .icon-browser{background-position:0 -240px}
.ie:hover .icon-browser{background-position:0 -360px}
.chrome .icon-browser{background-position:0 0}
.chrome:hover .icon-browser{background-position:0 -120px}
.firefox .icon-browser{background-position:0 -480px}
.firefox:hover .icon-browser{background-position:0 -600px}
.browser-name{font-size:14px;font-weight:600;display:block;margin-top:26px}
.browser-tips{padding:0 150px 150px;color:#8d8d8d;font-size:14px}

/*================================
            头部底部样式
==================================*/
body,dd,dl,dt,fieldset,form,li,ol,ul{margin:0;padding:0}
body,button,input,textarea{background:white;font-size:12px;font-family:"Microsoft YaHei","Lucida Grande","Lucida Sans Unicode",Tahoma,Helvetica,Arial,sans-serif;color:#333;}
.container{width:1190px;margin:0 auto}
.ui-header{height:65px;background-color:#00baff;}
.ui-header .logo{width:162px;height:65px;float:left;background:url(../images/white_logo.png) center no-repeat}
.ui-header .right-bar{float:right;padding-top:10px}
.ui-header .right-bar a{color:#fff}
.ui-header .right-bar a:hover{text-decoration:none}
.ui-header .right-bar .avatar{float:left}
.ui-header .right-bar .user-info{float:right;line-height:20px;padding-left:15px;text-align:right}
.ui-header .right-bar .avatar img{width:44px;height:44px;border-radius:22px;vertical-align:middle}
.ui-header .right-bar .nickname{font-size:16px}
.ui-header .right-bar .quit{font-size:14px}
.ui-footer{text-align:center;color:#999}
.ui-footer .copyright{line-height:50px;font-size:13px}
.main-box{border:1px #dadadc solid;margin:37px auto 0;background-color:#fff;border-radius:3px;display:table}
.main-box .col-main,.main-box .col-side{display:table-cell;vertical-align:top;word-wrap:break-word;word-break:break-all}
.main-box .col-side{width:17.5%;max-width:208px;border-right:1px solid #e7e7eb}
