@charset "utf-8";

/*================================
            通用样式
==================================*/
*{word-wrap:break-word;outline:0;-webkit-font-smoothing:antialiased}
body{background:#f1f3f7;}
html{-webkit-text-size-adjust:none}
body,button,input,select,td,textarea{color:#333;font-size:12px;font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif}
body,dd,dl,dt,fieldset,form,li,ol,ul{margin:0;padding:0}
body{padding:15px;}
li,ol,ul{list-style-image:none;list-style-type:none}
a{color:#4078c0;text-decoration:none;blr:expression(this.onFocus=this.blur())}
a:hover{color:#20a0ff;text-decoration:underline}
a img{border:none}
cite,em,th{font-style:normal;font-weight:400}
table{border-collapse:collapse}
th{text-align:left}
button,input,select,textarea{outline:0}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.nobg{background-color:transparent!important;background-image:none!important}
.nopd{padding:0!important}
.nobd{border-width:0!important;border-color:transparent!important;border-style:none!important;border-radius:0!important}
.nobs,.nobs:hover{box-shadow:none!important}
article,aside,dialog,figure,footer,header,menu,nav,section{display:block}
.clear{clear:both}
.muted{color:#999}
.text-warning{color:#f7ba2a !important}
.text-error{color:#ff4949 !important}
.text-info{color:#20a0ff !important}
.text-success{color:#13ce66 !important}
.text-center{text-align:center}
h1,h2,h3,h4,h5,h6{margin:10px 0;padding:0;font-family:inherit;font-weight:700;line-height:20px;color:inherit;text-rendering:optimizelegibility}
h1,h2,h3{line-height:40px}
h1{font-size:38.5px}
h2{font-size:31.5px}
h3{font-size:24.5px}
h4{font-size:17.5px}
h5{font-size:14px}
h6{font-size:11.9px}

/*================================
            右边布局
==================================*/
.col-main {background-color:white;border:1px #e7eaec solid;border-top:4px #e7eaec solid}
.crumbs{border-bottom:1px #e7e7eb solid}
.crumbs h2{font-size:18px;padding:0 20px;line-height:40px;font-weight:400;font-style:normal}
.crumbs .fa{margin:0 8px}
.crumbs span{color:#8d8d8d;font-size:16px}
.crumbs .tab{height:40px;line-height:40px;margin-bottom:2px;margin-top:-10px}
.crumbs .tab li{float:left;font-size:14px}
.crumbs .tab li a{display:block;padding:0 25px;color:#333}
.crumbs .tab li a:hover{text-decoration:none;border-bottom:3px solid #ccc}
.crumbs .tab li.current a,.crumbs .tab li.current a:hover{border-bottom:3px solid #58b7ff}
.main-content{padding:25px 15px}
.search-bar{margin-bottom:15px;font-size:14px}
.search-bar .ui-selectmenu-button.ui-button{padding:5px 6px}
.input-w-120{width:120px!important}
.list-box{margin:20px 0}
.table-list td{font-size:14px}
.table-list .split{font-size:12px;margin:0 8px;font-family:"宋体",Tahoma,Helvetica,arial,sans-serif;color:#ddd}
.table-list th{background-color:#eef1f6;line-height:40px;padding:0 8px}
.table-list .not-data,.table-list .not-data:hover{color:#8a6d3b;background-color:#fcf8e3 !important;text-align:center;padding:20px 8px}
.top-tools-bar{margin-bottom:15px;height:36px}
.top-tools-bar .left{float:left}
.top-tools-bar .right{float:right}
.list-info{font-size:14px;padding-top:16px;color:#5a7587;padding-left:8px}
.table-detail td,.table-detail th{font-size:14px;padding:8px 15px}
.table-detail th{color:#8d8d8d;font-weight:400;text-align:center}
.table-detail .title{background-color:#eef1f6;line-height:40px;padding:0 15px}
.back-btn{color:#adafb2;font-size:14px;vertical-align:middle;display:inline-block;height:28px}
.back-btn:hover{color:#333;text-decoration:none}
.back-btn span{display:inline-block;position:relative;top:-4px;left:2px}
.frm-control-group-m,.frm-controls-m,
.frm-control-group,.frm-controls,.frm-label{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.frm-control-group{padding-bottom:15px;overflow:auto}
.frm-label{float:left;font-size:14px;width:16.66666667%;text-align:right;padding-right:15px;padding-top:5px;}
.frm-controls{float:right;width:83.33333333%;padding-left:15px;padding-top:3px;font-size:14px;}
.frm-control-group-m{height:50px;}
.frm-controls-m{float:right;width:83.33333333%;padding-left:15px;padding-top:3px;font-size:14px;}
.frm-tips{color:#8d8d8d;padding:8px 0 20px}
.hr-line-dashed{border-top:1px dashed #e7eaec;color:#fff;background-color:#fff;height:1px;margin:0 0 15px}
.frm-tool-bar{border-top:1px solid #e7e7eb;text-align:center;padding:20px 0 50px}
.frm-tool-bar .btn{padding:7px 25px}
.help-box{padding:9px 30px;background-color:#f4f5f9;font-size:14px}
.help-box .fa{color:#00aeef}
.help-box .hellp-info{position:relative;top:-4px;left:8px;color:#8d8d8d}
.tab-navs{height:30px;padding-top:15px}
.tab-navs .tab-nav{line-height:30px;float:left;border-top:1px solid #c9cace;border-bottom:1px solid #c9cace;border-left:1px solid #c9cace;padding:0 20px;font-size:14px;cursor:pointer}
.tab-navs .selected{background-color:#576477;border-color:#576477;color:#fff;position:relative;margin-right:-1px}
.tab-navs .tab-nav:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px}
.tab-navs .no-extra{border-top-right-radius:3px;border-bottom-right-radius:3px;border-right:1px solid #c9cace}

/*================================
            表单布局
==================================*/
.ncap-form-all dd.opt,.ncap-form-default dl.row{font-size:0;color:#777;background-color:#fff;padding:12px 0;margin-top:-1px;border-style:solid;border-width:1px 0;border-color:#f0f0f0;position:relative;z-index:1}
.ncap-form-all dd.opt:first-child,.ncap-form-default dl.row:first-child{border-top-color:#fff}
.ncap-form-all dd.opt:nth-child(even),.ncap-form-default dl.row:nth-child(even){background-color:#fdfdfd}
.ncap-form-default dd.opt,.ncap-form-default dt.tit{font-size:12px;line-height:24px;vertical-align:top;letter-spacing:normal;display:inline-block}
.ncap-form-default dt.tit{text-align:right;width:14%;padding-right:2%}
.ncap-form-default dd.opt{text-align:left;width:83%}
.ncap-form-default dt.tit em{font:700 14px/20px tahoma,verdana;color:#F60;vertical-align:middle;display:inline-block;margin-right:5px}
.ncap-form-default p.notic{line-height:12px;line-height:18px;color:#AAA;margin:0;padding:0;margin-top:4px;clear:both}
.ncap-form-default div.bot{display:block;padding:12px 0 10px 16%}

/*================================
            列表样式
==================================*/
.table-list{margin-top:8px}
.table-list .selected td,.table-list .selected:hover td {background-color:#8db5d4;color:white}
.table-list .selected td *, .table-list .selected:hover td{color:white !important}
.table-list .tag-level{line-height:16px;border-radius:50%;font-size:12px;font-family:'宋体'}
.pager .btn-group{float:left}
.pager .btn-group span{display:inline-block;line-height: 32px;}
.pager .btn-group button{padding:7px 15px;}

/*================================
            成功、错误、404
==================================*/
.page-404{padding:8% 0 0;text-align:center}
.page-404 .icon{width:200px;height:184px;background:url(../images/404.png) center no-repeat;margin:0 auto}
.page-404 dl{width:330px;margin:0 auto;padding:10px 0 0}
.page-404 dl dt{float:left;font-size:60px;color:#333}
.page-404 dl dd{float:left;padding-left:15px;font-size:16px;text-align:left;color:#989ea8}
.page-404 dl dd .tips{padding-bottom:10px;padding-top:8px;line-height:25px}
.page-404 dl dd a{display:inline-block;background-color:#ffb619;color:#fff;padding:6px 30px;border-radius:3px}
.page-404 dl dd a:hover{text-decoration:none;background-color:#ff8519}

.page-prompt{padding:120px 0;}
.page-prompt dl{width:490px;margin:0 auto;overflow:auto}
.page-prompt dt{float:left;padding-top:8px;}
.page-prompt dt .icon{width:80px;height:80px;background-position:center;background-repeat:no-repeat}
.page-prompt dt .icon-success{background-image:url(../images/icon_success.png)}
.page-prompt dt .icon-error{background-image:url(../images/icon_error.png)}
.page-prompt dd{float:right;width:380px;font-size:14px;color:#989ea8;line-height:23px}
.page-prompt dd h1{font-size:30px;padding-right:20px;font-weight:400;margin:0;padding:0 0 5px;color:#333}
.page-prompt dd a{color:#ff8519}
.page-prompt .tips span{color:#ff8519}

/*================================
            页面中常用样式
==================================*/
.tree{font-size:16px;color:#999}
.link-disable {color:#ddd}
.input-sort{width:60px;text-align:center;margin-bottom:0px!important;}

/*================================
            子表格
==================================*/
.sub-table th{border-bottom: 1px solid #dfe6ec;}