<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{:config('system.system_name')} {:config('system.project_version')}-跳转提示</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="{:config('static_base_url')}/base/stylesheets/common.css" rel="stylesheet" type="text/css">
	<link href="{:config('static_base_url')}/base/stylesheets/index.css" rel="stylesheet" type="text/css">
	<link href="{:config('static_base_url')}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script>
        var maxSecond = {$wait};
        setTimeout(function(){
            location.href = "{$url}";;
        }, maxSecond * 1000);
        function updateLeftTime(){
            maxSecond = maxSecond-1;
            if(maxSecond>0){
                document.getElementById("spanSeconds").innerHTML=maxSecond;
            }
        } 
        setInterval("updateLeftTime()",1000);
    </script>
</head>

<body>
<div class="col-main page-prompt">
    <dl>
        <dt>
            <div class="icon icon-error"></div>
        </dt>
        <dd>
            <h1>Error</h1>
            {$msg}
            <div class="tips">
                系统将在 <span id="spanSeconds">{$wait}</span> 秒后自动跳转,如果不想等待,直接 <a href="{$url}">点击这里</a> 跳转。
            </div>
        </dd>
    </dl>
</div>
</body>
</html>